.modal-content {
  border-radius: 8px;
}

button.btn {
  margin-right: 5px;
}

.modal-header {
  background-color: #007bff;
  color: white;
}

.table th, .table td {
  text-align: center;
  vertical-align: middle;
}

.modal.d-block {
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay-content {
  text-align: center;
  padding: 20px;
}

.overlay-content button {
  margin-top: 10px;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

.pagination {
  margin-top: 20px;
}
.pagination .btn {
  min-width: 100px; 
}
