.borrowBook-container .card-header {
  background-color: #007bff; /* Màu xanh Bootstrap */
  color: white;
}

.borrowBook-container .list-group-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 15px;
}

.borrowBook-container .list-group-item h5 {
  color: #333;
  font-weight: bold;
}

.borrowBook-container .list-group-item p {
  font-size: 14px;
  color: #555;
}

.borrowBook-container .alert {
  margin-bottom: 15px;
}

.card-header {
  background-color: #2fb746 !important;
}