<div class="login-container">
  <div class="login-box">
    <h2>Welcome!</h2>
    <p>Don't have an account? <a routerLink="/sign-up">Sign up</a></p>

    <form (ngSubmit)="onLogin()">
      <div class="form-group">
        <label for="username">Email</label>
        <input type="email" id="username" [(ngModel)]="username" name="username" placeholder="Enter your email" required />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" [(ngModel)]="password" name="password" placeholder="Enter your password" required />
      </div>


      <a href="#" class="forgot-password">Forgot password?</a>

      <button type="submit" class="login-btn" [disabled]="loading">
        <span *ngIf="loading">Logging in...</span>
        <span *ngIf="!loading">Login</span>
      </button>

      <div *ngIf="errorMessage" class="error-message">
        <p>{{ errorMessage }}</p>
      </div>
    </form>
  </div>
</div>
