.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-link {
  color: #ffffff !important;
  transition: background-color 0.3s;
}

.nav-link:hover {
  background-color: #a1c6a7 !important;
  border-radius: 4px;
}

.navbar .dropdown-menu {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f8f9fa;
}

.text-muted {
  font-size: 12px;
}
