<div class="user" >
    <h1>Danh sách người dùng</h1>
    <table border="1" [cellSpacing]="0" [cellPadding]="6">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Fullname</th>
                <th>Trạng thái hoạt động</th>
                <th>Số điện thoại</th>
                <th>Sách đã mượn</th>
                <Th>Action</Th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.id}}</td>
                <td>{{user.username}}</td>
                <td>{{user.fullname}}</td>
                <td>{{user.actived ? 'hoạt động' : 'không hoạt động' }}</td>
                <td>{{user.phone}}</td>    
                <td>
                    <button class="view" (click)="showBorrowBook(user.id)">View</button>
                </td>                
                <td class="action">
                    <img src="assets/edit.png" alt="Edit" (click)="openEditUserForm(user)" />
                  </td>    
            </tr>
        </tbody>
    </table>
<div *ngIf="showModal" class="modal">
    <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <h2>Danh sách sách đã mượn</h2>
        <table border="1" cellspacing="0" cellpadding="6">
            <thead>
                <tr>
                    <th>Tên sách</th>
                    <th>Tác giả</th>
                    <th>Thể loại</th>
                    <th>Năm phát hành</th>
                    <th>Thời gian mượn</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let book of borrowedBooks">
                    <td>{{ book.bookName }}</td>
                    <td>{{ book.authorName }}</td>
                    <td>{{ book.genre }}</td>
                    <td>{{ book.publishYear }}</td>
                    <td>{{ book.borrowedDate }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>

<div *ngIf="showEditForm" class="overlay">
    <div class="form-container">
      <h2>Chỉnh sửa người dùng</h2>     
      <label>Fullname:</label>
      <input [(ngModel)]="selectedUser!.fullname" /><br />

      <label>Số điện thoại:</label>
      <input [(ngModel)]="selectedUser!.phone" /><br />

      <label>Mã người dùng:</label>
      <input [(ngModel)]="selectedUser!.idCard" /><br />

        <label class="status-label">Trạng thái:</label>
        <label class="switch">
        <input type="checkbox" [(ngModel)]="selectedUser!.actived" />
        <span class="slider round"></span>
        </label>
 

      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div> 
      <button (click)="saveUser()">Lưu</button>
      <button (click)="closeEditForm()">Hủy</button>
    </div>
  </div>