/* .container {
  background: linear-gradient(135deg, #fff, #04ad10) !important; 
} */

.card {
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-title {
  font-size: 1.1rem;
  font-weight: bold;
}

.card-text {
  font-size: 0.9rem;
}

.genre-card {
  background-color: #f8f9fa;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 1rem;
  font-weight: bold;
  color: #6c757d;
}

.genre-card:hover {
  background-color: #e9ecef;
  color: #495057;
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.modal-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.modal-body p {
  margin-bottom: 10px;
}
